<div class="content-account">
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3><img src="images/map1.png" height="30px"> MY PLANS <span class="label label-default">3</span></h3>
                            <div class="right-heading"><a href="#"><i class="fa fa-plus-circle"></i></a></div>
                        </div>
                        <div class="panel-body  ">
                            <div class="scroll-pane scroll-pane1">
                                <div class="row list-plans ">
                                    <div class="col-sm-4">
                                        <div class="box-plan">
                                            <a href="#"><strong>A Trip to Hong Kong</strong></a>
                                            <img src="images/img1.jpg"><br>
                                            <img src="images/start.jpg" style="width: 100px">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td width="70">Budget</td>
                                                    <td><strong>USD 1900</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Durations</td>
                                                    <td><strong>7 Days</strong></td>
                                                </tr>
                                            </table>
                                            <div class="bottom-plans">
                                                <a href="#"><i class="fa fa-eye"></i></a> 
                                                <a href="#"><i class="fa fa-print"></i></a> 
                                                <a href="#"><i class="fa fa-trash"></i></a>
                                                <span class="check-plan"><i class="fa fa-check-square-o"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="box-plan">
                                            <a href="#"><strong>A Trip to Hong Kong</strong></a>
                                            <img src="images/img1.jpg"><br>
                                            <img src="images/start.jpg" style="width: 100px">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td width="70">Budget</td>
                                                    <td><strong>USD 1900</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Durations</td>
                                                    <td><strong>7 Days</strong></td>
                                                </tr>
                                            </table>
                                            <div class="bottom-plans">
                                                <a href="#"><i class="fa fa-eye"></i></a> 
                                                <a href="#"><i class="fa fa-print"></i></a> 
                                                <a href="#"><i class="fa fa-trash"></i></a>
                                                <span class="check-plan"><i class="fa fa-check-square-o"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="box-plan">
                                            <a href="#"><strong>A Trip to Hong Kong</strong></a>
                                            <img src="images/img1.jpg"><br>
                                            <img src="images/start.jpg" style="width: 100px">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td width="70">Budget</td>
                                                    <td><strong>USD 1900</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Durations</td>
                                                    <td><strong>7 Days</strong></td>
                                                </tr>
                                            </table>
                                            <div class="bottom-plans">
                                                <a href="#"><i class="fa fa-eye"></i></a> 
                                                <a href="#"><i class="fa fa-print"></i></a> 
                                                <a href="#"><i class="fa fa-trash"></i></a>
                                                <span class="check-plan"><i class="fa fa-check-square-o"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-3">
                            <div class="media">
                                <a class="media-left" href="#">
                                    <img src="images/img1.jpg" width="250px" height="150px">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-7">       
                            <div class="media-body">
                                <h4 class="media-heading"><span>Victoria Habour, Hong Kong, China</span></h4>
                                <div>4.5 <img src="images/star1.jpg" height="15px" style="vertical-align: middle"><a href="#" style="color: blue">&nbsp;Remove</a></div><br>
                                <p>
                                    Victoria Harbour is a natural landform harbour situated between Hong Kong Island and Kowloon in Hong Kong. The harbour's deep, sheltered waters and strategic location on the South China Sea were instrumental in Hong Kong's establishment as a British colony and its subsequent development as a trading centre.
                                </p>
                            </div>
                            
                            <div class="card card-inverse card-primary text-xs-center">
                                <div class="card-block">
                                    <blockquote class="card-blockquote">
                                        <p>It is the nicest place ever</p>
                                        <footer>Hello Panda</footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="card card-inverse card-success text-xs-center">
                                <div class="card-block">
                                    <blockquote class="card-blockquote">
                                        <p>ok to visit</p>
                                        <footer>King Wu</footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="card card-inverse card-info text-xs-center">
                                <div class="card-block">
                                    <blockquote class="card-blockquote">
                                        <p>too crowded</p>
                                        <footer>haha</footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="card card-inverse card-warning text-xs-center">
                                <div class="card-block">
                                    <blockquote class="card-blockquote">
                                        <p>The firework is nice</p>
                                        <footer>Tiger wood</footer>
                                    </blockquote>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div><!--comment display-->
                
                <div class="row">
                    <div class="form-group">
                        <label for="pic" class="col-sm-2 control-label">Upload Pictures</label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control" id="pic">
                        </div>
                    </div>
                        
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="comment" class="control-label">Comment</label>
                        </div>
                        <div class="col-sm-9 col-sm-offset-2">
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                   
                    <div class="form-group" >
                    <div class="button-plan col-sm-11" style="margin: 10px">
                        <button class="btn btn-primary btn-lg pull-right" height="30px"><a ui-sref="#">Add Comment</a></button>
                    </div>
                    </div>
                    
                </div>
    
            </div>
        </div>
    </div>
</div><!--content-account-->