<div class="title-main">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Day 1</a></li>
            <li><a href="#">Day 2</a></li>
        </ul>
    </div>    
</div>

<div class="content-account">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">9:00am</h4>
                            <h6 class="card-subtitle text-muted">Travel Time: 20min</h6> 
                        </div>    
                        <a ui-sref="dashboard"><img src="images/download.jpeg" alt="Card image" width="250px"></a>
                        <div class="card-block">
                            <p class="card-text">Chinatown is the busiest place in Singapore...</p>
                            
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">12:00am</h4>
                            <h6 class="card-subtitle text-muted">Travel Time: 30min</h6>
                        </div>
                        <a href="#"><img src="images/img1.jpg" alt="Card image" width="250px"></a>
                        <div class="card-block">
                            <p class="card-text">Victoria Harbour is the nicest place you can visit....</p>
                        </div>
                    </div>
                </div>
            </div>
      
            <div class="col-sm-8 col-md-9">
                <div class="panel panel-default">
                    <h3 class="map">&nbsp;&nbsp;&nbsp;Attractions</h3>     
                    <div class="panel-body">
                        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=22+Pembridge+Road+Notting+Hill+Gate+London+W11+3HL&amp;sll=51.510666,-0.239124&amp;sspn=0.025908,0.077248&amp;ie=UTF8&amp;ll=51.509544,-0.196961&amp;spn=0.006295,0.006295&amp;output=embed&amp;s=AARTsJokm6UitbzK2Sd24kUMCYv8-2qzjA"></iframe>
                        <ul class="list-location">
                            <li>
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="images/location.jpg">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Location 1</a></h4>
                                        <div class="line-location">
                                            <div class="star"><img src="images/start.jpg"></div>
                                            <div class="button-location">
                                                <a href="#" class="btn btn-primary">Temple</a>
                                                <a href="#" class="btn btn-primary">Historical</a>
                                            </div>
                                        </div>
                                        <div class="description">
                                        </div>
                                        <div class="wishlist"><a href="#"><img src="images/heart.jpg"><span>Add to Wishlist</span></a></div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="images/location.jpg">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Location 1</a></h4>
                                        <div class="line-location">
                                            <div class="star"><img src="images/start.jpg"></div>
                                            <div class="button-location">
                                                <a href="#" class="btn btn-primary">Temple</a>
                                                <a href="#" class="btn btn-primary">Historical</a>
                                            </div>
                                        </div>
                                        <div class="description">
                                        </div>
                                        <div class="wishlist"><a href="#"><img src="images/heart.jpg"><span>Add to Wishlist</span></a></div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="images/location.jpg">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Location 1</a></h4>
                                        <div class="line-location">
                                            <div class="star"><img src="images/start.jpg"></div>
                                            <div class="button-location">
                                                <a href="#" class="btn btn-primary">Temple</a>
                                                <a href="#" class="btn btn-primary">Historical</a>
                                            </div>
                                        </div>
                                        <div class="description">
                                        </div>
                                        <div class="wishlist"><a href="#"><img src="images/heart.jpg"> <span>Add to Wishlist</span></a></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--content-account-->
