<div class="footer">
<div class="padding-content-footer">
    <div class="container">
        <div class="title">
            <h3>Contact Us</h3>
        </div>
        <div class="row contact-us">
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="Full Name">
                <input type="text" class="form-control" placeholder="E-mail Adress">
                <textarea class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="col-sm-5">
                <h4>Information</h4>
                <div class="contact-info">
                    <i class="fa fa-map-marker"></i> Raffles Place Tower 2<br>
                    <i class="fa fa-phone"></i> (+65) 87869790 <br>
                    <div class="contact">
                        <button class="btn btn-primary">SEND MESSAGE</button>
                        <button class="btn btn-default">VIEW MAP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>