<div class="content-account">
  <div class="container">
    <div class="panel panel-default">
      <form class="form-horizontal form-profile" role="form">
        <div class="panel-heading"><h3><i class="fa fa-user"></i> PROFILE</h3></div>
        <div class="panel-body">

          <div class="form-group">
            <label  class="col-sm-3 control-label">Avator</label>
            <div class="col-sm-7">
              <input type="text" class="form-control"  >
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control"  >
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control"  >
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">About</label>
            <div class="col-sm-7">
              <textarea  class="form-control" style="height: 150px;"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-sm-7">
              <div class="row">
                <div class="col-sm-3"><select class="form-control"><option>select</option></select></div>
                <div class="col-sm-3"><select class="form-control"><option>select</option></select></div>
                <div class="col-sm-3"><select class="form-control"><option>select</option></select></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-7">
              <div class="row">
                <div class="col-sm-3"><select class="form-control"><option>select</option></select></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">Country</label>
            <div class="col-sm-7">
              <select class="form-control"><option>select</option></select>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">Interests</label>
            <div class="col-sm-7">
              <div class="select2-wrapper">
                <select class="form-control select2" multiple="multiple">
                  <option value="1">Museum</option>
                  <option value="2">Museum</option>
                  <option value="31">Museum</option>
                  <option value="4">Museum</option>
                  <option value="5">Museum</option>
                  <option value="6">Museum</option>
                  <option value="7">Museum</option>
                  <option value="8">Museum</option>
                </select>
              </div>
            </div>
          </div>


        </div>
        <div class="panel-heading"><h3><i class="fa fa-chain-broken"></i> SOCIAL ACCOUNTS</h3></div>
        <div class="panel-body">
          <div class="form-group">
            <label  class="col-sm-3 control-label">Facebook</label>
            <div class="col-sm-7">
              <div class="input-group">
                <span class="input-group-addon">facebook.com/</span>
                <input type="text" class="form-control" placeholder="Facebook username">
              </div>
              <span class="example">Example: http://www.facebook.com/<span>user1</span></span>
            </div>
          </div>

          <div class="form-group">
            <label  class="col-sm-3 control-label">Google+</label>
            <div class="col-sm-7">
              <div class="input-group">
                <span class="input-group-addon">+</span>
                <input type="text" class="form-control" placeholder="Facebook username">
              </div>
              <span class="example">Example: http://plus.google.com/<span>+user1</span></span>
            </div>
          </div>

          <div class="form-group">
            <label  class="col-sm-3 control-label">Twitter</label>
            <div class="col-sm-7">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Facebook username">
              </div>
              <span class="example">Example: <span>@user1</span></span>
            </div>
          </div>

        </div>

        <div class="panel-heading"><h3><i class="fa fa-gear"></i> ACCOUNT SETTING</h3></div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Username</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" value="username 1" disabled="disabled">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" value="user123@yahoo.com" disabled="disabled">
            </div>
          </div>

          <h4>Password Change</h4>
          <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">New Password</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Retype</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="panel-footer text-right">
            <a href="#" class="btn btn-default">Cancel</a> 
            <a href="#" class="btn btn-primary">Save</a> 
          </div>
        </div>


      </form>
    </div>
  </div>

</div><!--content-account-->
